    body {
        background-color: #D9FEF0;
        text-align: center;
        overflow-x: hidden;
    }
    .cabecalho {
        background-color: rgb(66, 252, 122);
        position: relative;
        top: 0;
        left: 10px;
        right: 10px;
        padding: 5px;
    }
    h1.name {
        text-align: center;
        font-family: 'Permanent Marker', sans-serif;
        font-size: 50px;
        color: #135C40;

    }
    #linksone{
        color: black;
        background-color: #135C40;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 4px; 
        border: 2px black;
        margin: 10px;
        font-weight: bold;
    }
    #sobre-mim {
        overflow: hidden;
        position: relative;
        width: 80%;
        margin: 50px 50px 50px 50px; 
    }
    #jess-linda {
        border-radius: 50px;
        border: 2px solid black;
        float: left;
        width: 30%;
        margin-left: 100px;
        padding: 6px;
        background-color: rgb(5, 99, 64);
    }
    #sobre-mim-right-div {
        font-family:'Times New Roman', Times, serif;
        font-size: 18px;
        float: right;
        width: 50%;
        top: 600px;
        border-style: none;
        border-width: 50%;
        padding: 120px 0;
        text-align: left;
    }
    #sobre-mim a{
        background-color: rgb(87, 243, 186);
        font-weight: bold;
        padding: 3px 3px;
        text-decoration: none;
    }
    #qualidade-div {
        overflow: hidden;
        position: relative;
        width: 33%;
        margin-left: 300px;
        bottom: 50px;
    } 
    #qualidades {
        font-size: 30px;
        color: #135C40;
    }
    #list {
        margin-left: 500px;
        text-align: left;
        line-height: 1.5;
    }
    #social {
        text-decoration: none;
    }
    #button {
        background-color: #25B880; 
        color: black;
        padding: 15px 20px;
        border-radius: 4px;
        text-decoration: none;
        line-height: 55px;
    }